
body {
    color: darkslategray;
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0;
    
}

ul{
    height: 60px;
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(164, 187, 151);
 
}
li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase; 
    line-height: 30px;

}

a {
    text-decoration: none;
    color: rgb(120, 141, 107);

}

li:hover {
    background-color: rgb(120, 141, 107);
}

.right {
    float: right;
}



h1 {
    font-size: 18px;
}
footer {

    margin-top: 20px;
    background-color:rgb(164, 187, 151);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 10px;
    padding-left: 10px;

}
form {
    width: 60%;
    margin: 0 auto;
    line-height: 35px;
}
.err {
    color: rgb(149, 49, 49);
}

.container {
    margin: 0 auto;
    padding: 90px 20% 20%;
    text-align: justify;
}

input {
    float: right;
}

.role {
    float: none;

}

.line {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: darkslategray;
}


.active {
    background-color: rgb(89, 107, 78);
}

.ul_admin {
    margin: 0 auto;

    width: auto;
    position: absolute;
    margin-bottom: 50px;
}

.container_admin {
    margin: 0 auto;
    padding-top: 70px;
    text-align: justify;
    width: 100%;
}